# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
city_weather = pd.read_csv("output_data/city_weather.csv")
city_weather.head()

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
0,punta arenas,-53.1500,-70.9167,48.2,61,75,21.85,CL,1611777800
1,hamilton,39.1834,-84.5333,34.0,69,90,8.05,US,1611777951
2,sistranda,63.7256,8.8340,32.0,100,75,17.27,NO,1611777669
3,doha,25.2867,51.5333,64.4,63,0,1.14,QA,1611777666
4,carnarvon,-24.8667,113.6333,71.6,88,0,18.41,AU,1611777774

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

locations = city_weather[["Lat", "Lng"]].astype(float)
humidity = city_weather["Humidity"].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [18]:
perfect_weather = city_weather.loc[(city_weather["Max_Temp"]>70)&(city_weather["Max_Temp"]<80)&(city_weather['Wind_Speed']<10)&(city_weather["Cloudiness"]==0),:]
perfect_weather

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
7,sao filipe,14.8961,-24.4956,75.74,67,0,4.07,CV,1611777952
68,saint-philippe,-21.3585,55.7679,78.80,69,0,4.61,RE,1611777966
128,nouna,12.7333,-3.8667,77.97,14,0,9.95,BF,1611777978
160,bhatkal,13.9667,74.5667,74.75,72,0,4.21,IN,1611777986
255,asosa,10.0667,34.5333,70.61,37,0,3.47,ET,1611778010
284,saint-pierre,-21.3393,55.4781,78.80,69,0,4.61,RE,1611778017
385,solenzo,12.1833,-4.0833,78.69,15,0,9.33,BF,1611778038
417,dunmore town,25.5000,-76.6500,75.34,79,0,9.86,BS,1611778046
420,umm lajj,25.0213,37.2685,72.50,77,0,6.17,SA,1611778046
446,cap malheureux,-19.9842,57.6142,78.01,81,0,6.62,MU,1611778052
457,salalah,17.0151,54.0924,71.60,73,0,3.44,OM,1611777808
556,araouane,18.9048,-3.5265,72.72,18,0,9.64,ML,1611778077
558,le port,-20.9373,55.2919,73.40,83,0,8.05,RE,1611778077
569,ratnagiri,16.9833,73.3000,72.54,66,0,6.15,IN,1611778079
592,diffa,13.3154,12.6113,73.29,17,0,9.89,NE,1611778085

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [25]:
hotel_df = perfect_weather
hotel_df["Hotel Name"] = ""
hotel_df

<ipython-input-25-73cd55c49901>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date,Hotel Name
7,sao filipe,14.8961,-24.4956,75.74,67,0,4.07,CV,1611777952,
68,saint-philippe,-21.3585,55.7679,78.80,69,0,4.61,RE,1611777966,
128,nouna,12.7333,-3.8667,77.97,14,0,9.95,BF,1611777978,
160,bhatkal,13.9667,74.5667,74.75,72,0,4.21,IN,1611777986,
255,asosa,10.0667,34.5333,70.61,37,0,3.47,ET,1611778010,
284,saint-pierre,-21.3393,55.4781,78.80,69,0,4.61,RE,1611778017,
385,solenzo,12.1833,-4.0833,78.69,15,0,9.33,BF,1611778038,
417,dunmore town,25.5000,-76.6500,75.34,79,0,9.86,BS,1611778046,
420,umm lajj,25.0213,37.2685,72.50,77,0,6.17,SA,1611778046,
446,cap malheureux,-19.9842,57.6142,78.01,81,0,6.62,MU,1611778052,
457,salalah,17.0151,54.0924,71.60,73,0,3.44,OM,1611777808,
556,araouane,18.9048,-3.5265,72.72,18,0,9.64,ML,1611778077,
558,le port,-20.9373,55.2919,73.40,83,0,8.05,RE,1611778077,
569,ratnagiri,16.9833,73.3000,72.54,66,0,6.15,IN,1611778079,
592,diffa,13.3154,12.6113,73.29,17,0,9.89,NE,1611778085,

In [29]:
hotels = []

# geocoordinates
for index, row in hotel_df.iterrows():
    target_search = "hotel"
    target_radius = 5000
    target_type = "lodging"

# # set up a parameters dictionary
    params = {
        "location": f"{row['Lat']}, {row['Lng']}",
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }

# # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    response_json = response.json()
    try:
        hotel_name = response_json['results'][0]['name']
        hotels.append(hotel_name)
    except:
        hotels.append("N/A")
    
hotel_df["Hotel Name"] = hotels
hotel_df

<ipython-input-29-17414bda0424>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = hotels

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date,Hotel Name
7,sao filipe,14.8961,-24.4956,75.74,67,0,4.07,CV,1611777952,La Fora Ecolodge
68,saint-philippe,-21.3585,55.7679,78.80,69,0,4.61,RE,1611777966,Pinpin d'Amour
128,nouna,12.7333,-3.8667,77.97,14,0,9.95,BF,1611777978,Cailloux Sauvages Hotel
160,bhatkal,13.9667,74.5667,74.75,72,0,4.21,IN,1611777986,"The Royal oak , Bhatkal"
255,asosa,10.0667,34.5333,70.61,37,0,3.47,ET,1611778010,Semehal Hotel
284,saint-pierre,-21.3393,55.4781,78.80,69,0,4.61,RE,1611778017,LODGE PALMAE
385,solenzo,12.1833,-4.0833,78.69,15,0,9.33,BF,1611778038,N/A
417,dunmore town,25.5000,-76.6500,75.34,79,0,9.86,BS,1611778046,Coral Sands Hotel
420,umm lajj,25.0213,37.2685,72.50,77,0,6.17,SA,1611778046,HP Red Sea Hotel
446,cap malheureux,-19.9842,57.6142,78.01,81,0,6.62,MU,1611778052,Paradise Cove Boutique Hotel
457,salalah,17.0151,54.0924,71.60,73,0,3.44,OM,1611777808,HYATT SALALAH HOTEL
556,araouane,18.9048,-3.5265,72.72,18,0,9.64,ML,1611778077,N/A
558,le port,-20.9373,55.2919,73.40,83,0,8.05,RE,1611778077,Lodge Roche Tamarin & Spa Village Nature
569,ratnagiri,16.9833,73.3000,72.54,66,0,6.15,IN,1611778079,Ratnasagar Beach Resort
592,diffa,13.3154,12.6113,73.29,17,0,9.89,NE,1611778085,Complexe Hôtelier Du 18 Décembre

In [32]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [33]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations, info_box_content= hotel_info)
# Add the layer to the map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))